body
{
	color: black;
	background: #f1efdc url('/images/bg.jpg') repeat-x;
}

h1
{
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

h1 a, h1 a:link, h1 a:visited, h1 a:active
{
	border: none;
}

h2
{
	color: #99f;
	font-size: 1.75em;
	display: inline;
}

h2.title
{
	font-family: georgia, 'times new roman', serif;
	font-size: 1.65em;
}

h3#tags
{
	font-size: .75em;
	color: #666;
	margin-top: 7px;
	margin-bottom: 7px;
}

a, a:link, a:visited, a:active
{
	color: #465A9C;
}

a, a:link, a:visited, a:active
{
	color: #435695;
	text-decoration: none;
	border-bottom: 1px dotted #435695;
}

a:hover
{
	color: #263256;
}

em
{
	position: relative;
	top: 1px;
	font-style: italic;
}

p
{
	padding-top: .5em;
	padding-bottom: .5em;
}

div.comment-form
{
	
}

div.comment-form p label
{
	margin-right: 5px;
}
div.comment-form p input
{
	font-size: .75em;
	margin-right: 15px;
}

div.comment-form p textarea
{
	width: 417px;
}

#main
{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	min-width: 600px;
	width: 90%;
	margin-top: 1em;
}

#wrapper
{
	float: left;
	width: 100%;
	padding-right: .75em;
}

#page-content
{
	margin-right: 340px;
	padding-bottom: 1em;	
}

#tools
{
	position: relative;
	margin-top: 20px;
	left: 35px;
}

#modules
{
	margin-left: -310px;
	width:310px;
	margin-top:2em;
	float: left;
}

#footer
{
	clear: both;
	padding: 1em;
	font-size: small;
	text-align: center;
}

#header h1 a
{
	height: 89px;
	width: 384px;
	margin:55px 0 30px 15px;
	background: url('/images/logo.jpg') no-repeat;
	display:block;
	text-indent: -9999px;
}

#header img
{
	float:right;
	margin-right:15px;
}

.module
{
	margin-bottom: 1em;
}

.post
{
	margin-bottom: 35px;
}

.post-content
{
	border-top: 1px solid #bbb;
	padding-top: 7px;
	text-align: left;
}

.comment
{
	position: relative;
	margin-bottom: 25px;
	left: 50px;
	width: 75%;
}

.comment img
{
	position: absolute;
	left: -30px;
	top: 23px;
}

.comment p.comment-body
{
	position: relative;
	margin-top: 15px;
	left: 15px;
}

.module fieldset
{
    border:0;
}

.module legend
{
    padding-left:18px;
}

.twitter legend
{
    background: url('/images/icons/16-em-pencil.png') no-repeat;
}

.tagcloud legend
{
    background: url('/images/icons/16-file-archive.png') no-repeat;
}

.blogroll legend
{
    background: url('/images/icons/16-star-hot.png') no-repeat;
}

.openid-login
{
	background: #fff url(/images/openid-logo.gif) no-repeat scroll 0pt 50%;
	padding-left: 18px;
}

div.post-content legend
{
	font-size: 1em;
	background: url('/images/icons/16-tool-a.png') no-repeat;
	padding-left:18px;
}
