.main-event
  %strong.chicklet
    event
  %p.info
  %h1 Ruby &amp; F# &ndash; A Polyglot Adventure
  .event-meta
    .presenting
      %em Presenting
      = link_to "Joe O'Brien", 'http://www.objo.com/'
      &amp;
      = link_to 'Amanda Laucher', 'http://www.pandamonial.com/'
    .date
      %em July 17, 2008 6:30 PM
      at
      = link_to 'Dimple Dough Inc.', '/locations/dimpledough-inc'
  .post-content
    ="<p>What is the deal with all of these new languages surfacing? Why should you spend the time to learn a language when it isn't in your job description? What benefit do you get by investing in something that might take off, versus something that is tried and true? What are our mainstream languages currently lacking? This is where F# and IronRuby come into play.</p><p>From currying, passing code around as data, mathematical-based algorithms that make concurrency a breeze, to features such as message passing, IronRuby and F# give you two new ways of thinking about algorithms. In this talk, Amanda and Joe will walk you through the mental differences that F# and IronRuby bring to the traditional developer. They will show you how, by spending time in either or both languages, you will change the way you think and improve the way you solve problems in any language.</p><p>What's your next language going to be?</p>"