!!! strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      CleRB - The Cleveland / Northeast Ohio Ruby Users Group
    %meta{ :name => "author", :content => "Joe Fiorini" }/
    %link{ :href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css" }/
    %link{ :href => "/stylesheets/site.css", :rel => "stylesheet", :type => "text/css" }/
    - if @map
      = GMap.header
  %body
    #container
      #mast
        - if @current_user
          #welcome_message
            = "Logged in as: " + @current_user.name
            = link_to 'Logout', logout_url
        #logo
          %a{ :href => "/" }
            %span
              CleRB : The Cleveland Ruby Brigade / Northeast Ohio Ruby Users Group
        #navigation
          %ul
            %li.home
              =link_to 'Home', '/'
            %li
              =link_to 'Meetings', '/meetings'
            %li
              =link_to 'About', '/about'
            %li
              =link_to 'Contact', '/contact'
            %li
              =link_to 'Resources', '/resources'
      #main
        #page-content
          = yield
  %script{ :type => "text/javascript" }
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  %script{ :type => "text/javascript" }
    var pageTracker = _gat._getTracker("UA-4828879-1");
    pageTracker._initData();
    pageTracker._trackPageview();
