!!! strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      faithfulgeek.org
    %meta{ :name => "author", :content => "Joe Fiorini" }/
    %link{ :href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css" }/
    %link{ :href => "/stylesheets/site.css", :rel => "stylesheet", :type => "text/css" }/
    - if @extra_stylesheet
      %link{ :href => "/stylesheets/#{@extra_stylesheet}", :rel => "stylesheet", :type => "text/css" }
    / Date: 2008-03-07
  %body
    #header
      - if @current_user
        #welcome_message
          = "Logged in as: " + @current_user.name
          = link_to 'Logout', logout_url
      %img{ :src => "/images/glasses.png" }/
      %h1
        %a{ :href => "/" }
          faithfulgeek.org
    #main
      #wrapper
        #page-content
          = yield
      #modules
        .twitter.module
          %fieldset
            %legend
              twitter
            %p
              I just twittered all over the place
            %p
              I wish skittles were M&Ms
            %p
              You have walked the lonely walk of loneliness
        .blogroll.module
          %fieldset
            %legend
              blogroll
            %p
              %a{ :href => "http://www.codinggeekette.com/", :rel => "met" }
                coding geekette
            %p
              %a{ :href => "http://www.hanselman.com/", :rel => "met" }
                scott hanselman
            %p
              %a{ :href => "http://www.coreyhaines.com/", :rel => "met" }
                corey haines
        .tagcloud.module
          %fieldset
            %legend
              tag cloud
            tags
      #footer
        &copy;2008 Joe Fiorini - creative commons license
